<!DOCTYPE html>
<html>

  <head>

      <script src="/cfail/components/ah/ah.js"></script>
      <script src="/components/requirejs/require.js"></script>
      <script>
          define('ap.config', [], {
              csrfToken: '<%- _csrf %>',
              <% if (typeof authenticated != 'undefined') { %>
                <% if (authenticated) { %>
                    user: <%- JSON.stringify(user) %>,
                <% } %>
                authenticated: <%- authenticated %>,
              <% } %>
              serverTime: <%- (new Date()).getTime() %>,
              debug: <%- appDebug %>
              <% if (typeof stagedList != 'undefined') { %>
              , stagedList: <%- JSON.stringify(stagedList) %>
              <% } %>
          });
          <% if (typeof measureDomLoading != 'undefined') { %>
              try {
                  // default to the browser's performance timers if available.
                  ah.DOM_LOADING = window.performance.timing.domLoading;
              } catch(e) {
                  // use the current system date if performance timers are not available.
                  ah.DOM_LOADING = new Date().getTime();
              }
          <% } %>
      </script>
      <!--
          For demonstration purposes, the `title` is dynamically set here based on
          your `sails.config.appName` to show that you can inject data into layouts
          exactly the same way as with your other view templates.
      -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/cfail/cfail.css"/>

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>
      <% var headerComponent = generateComponent('cfail-header'); %>
    <header class="navbar navbar-static-top" ng-controller="MainController" id="<%= headerComponent.id %>">
        <div class="container">
            <a href="../" class="navbar-brand">Cfail</a>
            <ul class="nav navbar-nav navbar-right">
                <% if (typeof authenticated != 'undefined' && authenticated) { %>
                    <li><a href="" ng-click="signout()">退出</a></li>
                <% } else { %>
                    <li><a href="/login">登录</a></li>
                <% } %>
            </ul>
        </div>
    </header>
      <script>
          ah.addComponentMetadata({
              moduleName: 'cfail',
              elementId: '<%= headerComponent.id %>'
          });
      </script>

    <!-- Include the view file for the current controller/route -->
    <%- body %>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <!--<script type="text/javascript" src="/js/sails.io.js"></script>-->
    <!-- listen on socket.io for incoming messages -->


    <script src="/cfail/main.js"></script>

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->



    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
